@import url('https://fonts.googleapis.com/css?family=Ranchers');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
    box-sizing: border-box;
}

html,
body {
  margin: 0;
}

#canvas {
  width: 100%;
  height: 100%;
  background-color: #2b4f60;
  overflow: hidden;
}
#canvas:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100% - 90px);
  background-repeat: no-repeat;
  background-image: url('background-back.png');
  background-size: 100% auto;
  background-position: bottom center;
  bottom: 90px;
  z-index: 0;
}
#canvas:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url('background.png');
  background-size: contain;
  background-position: bottom center;
  z-index: 0;
}

.score-wrapper {
  position: absolute;
  bottom: 38%;
  left: 50%;
  margin-left: -40px;
  z-index: 3;
  font-family: 'Indie Flower';
  color: black;
  font-size: 23px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.35);
  padding-right: 20px;
}

.button {
  max-width: 240px;
  margin: auto;
  text-align: center;
  font-family: 'Ranchers', cursive;
  padding: .8rem 1rem;
  display: block;
  border-radius: 15px;
  box-shadow: 0px 3px 0 #c49d00;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
  letter-spacing: 1px;
  background: linear-gradient(#ffe400, #ffc600);
}

#gift {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2b4f60;
  z-index: 10;
  top: -100%;
  transition: .5s top ease;
  display: block;
  text-align: center;
  padding: 4rem 2rem;
}

#gift h1 {
  text-transform: uppercase;
  font-family: 'Ranchers', cursive;
  color: white;
  letter-spacing: 1px;
}

#gift p {
  font-size: 1.2rem;
  font-family: 'Indie Flower';
  color: white;
}

#gift.show {
  top: 0;
}

#score {
  position: absolute;
  color: #fba22e;
  top: 0;
  right: 0;
  font-family: 'Ranchers', cursive;
}

.animate {
  animation: .75s splash;
  animation-fill-mode: forwards;
}

@keyframes splash {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes breath {
  0% {
    transform: scale(.5);
  }
  50% {
    transform: scale(.75);
  }
  100% {
    transform: scale(.5);
  }
}

.coin {
  position: absolute;
  width : 50px;
  height: 43px;
  background: url('coin.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(.25);
  animation: 2s breath infinite;
  z-index: 5;
}

.player {
  position: absolute;
  width : 75px;
  height: 75px;
  background: url('sprite-player.png');
  background-size: auto 200%;
  z-index: 5;
}

.snack {
  position: absolute;
  width : 100px;
  height: 86px;
  background: url('sprite-snacks.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  transform: scale(.5);
  animation: 2s breath infinite;
  z-index: 5;
}
